body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
    color: white;
    position: relative;
    z-index: 1;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

#time {
    font-size: 12em; /* Even more massive font size */
    text-align: center;
}

.am-pm {
    font-size: 0.3em !important; /* Smaller but readable font size for AM/PM */
}

#weather {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#weather-icon {
    font-size: 4em;
}

#weather-temp {
    font-size: 3em;
    margin-left: 20px;
}

.background-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -2;
    transition: transform 1s ease-in-out;
}

.background-slider.no-transition {
    transition: none;
}